
.font-1{
    font-family: "core-sans-g-55-medium"!important;
}
.font-2{
    font-family : $colfax;
}
.font-2-light{
    font-family : $colfaxLight!important;
}
.font-2-medium{
    font-family : $colfaxBold!important;
    // font-size: 50px;
}
.font-2-bold{
    font-family : $colfaxBold!important;
}
.font-2-black{
    font-family : $colfaxBlack!important;
}
.font-red{
    color: $pinkish!important;
}
.font-gray{
    color: #9f9fa0!important;
}
.font-black{
    color: black!important;
}
.about{
    // height: 100vh;
    color: white;
//    p{
//        span.n-visible{
//            opacity: 0;
//        }
//    }
//    p.n-visible{
//        opacity: 0;
//    }
//    .is-visible{
//     -webkit-animation: fadein 1200ms;
//     -webkit-animation-delay:500ms;
//     -webkit-animation-fill-mode: forwards;
//    }


    .section__wrapper{
        // display: flex;
        height: 100%;
        max-width: 820px;

       .main{
        @media (max-width: $small) {margin: 70px 0; font-size: 28px;}
           margin: 270px 0;
           font-size: 50px;
           position: relative;
        span.paragraph{
            display: block;
            line-height: 72px;
            @media (max-width: $small) {line-height: 40px;}
        }
        span.paragraph:first-of-type{
            letter-spacing: -1.15px;
        }
        span.paragraph:nth-of-type(2){
            letter-spacing: 0.6px;
        }
        span.paragraph:nth-of-type(3){
            letter-spacing: -0.35px;
        }
        span.paragraph:nth-of-type(4){
            letter-spacing: -0.35px;
        }
        span.paragraph:nth-of-type(5){
            letter-spacing: 2.1px;
        }
        span.paragraph:nth-of-type(6){
            letter-spacing: 0.25px;
        }
        span.paragraph:nth-of-type(7){
            letter-spacing: 0.65px;
        }
        span.paragraph:nth-of-type(8){
            letter-spacing: -2px;
        }
           &-title{
               transform: rotate(-90deg);
               position: absolute;
               top: 100px;
                left: -100px;
                @media (max-width: $small) {left: -75px;}
                font-size: 80px;
               transform-origin: top left;
               font-weight: bold;
           }
       }
       .side{
        //    margin: 0 auto;
           font-size: 48px;
           border: 1px solid #e2e2e2;
           border-style: solid none;
           padding: 25px 0;
           width: 90%;
           margin-right: auto;
           p{
               line-height: 38px;
               margin: 0;
               text-align: right;
               @media (max-width: $small) {
                text-align: left;
                font-size: 25px;
                line-height: 28px;
                width: 100%;
            }
               width: 660px;
               margin-right: 50px;
           }
           a{
               font-size: 30px;
               border: 5px solid #e2e2e2;
               padding:7px 6px 3px 10px;
               color: white;
               display: block;
               width: 146px;
               margin-left: auto;
               margin-top: 5px;
               text-transform: uppercase;
               &:hover{
                   color:black;
                   border-color: black;
               }
           }
       }
    }
}


// @keyframes fadein {
//     from { opacity: 0; }
//     to   { opacity: 1; }
// }

// @keyframes border-t-show{
//     from { border-top: 1px solid rgba(255, 255, 255, 0) }
//     to   { border-top: 1px solid rgb(255, 255, 255) }
// }

// @keyframes border-b-show{
//     from { border-bottom: 1px solid rgba(255, 255, 255, 0) }
//     to   { border-bottom: 1px solid rgb(255, 255, 255) }
// }