//FONT COLORS
$white: #F5F5F5;
$main-grey: #1A1A1A;
$dark-grey: #282828;
$light-grey:#E8E8E8;
$deep-blue: #1D26F2;
$light-blue: #00ffdc;
$green0: #416767;
$orange: #ff5722;
// $orange: #c58400;
$green-header: #00d2b5;


//BACKGROUND COLORS
$bg-landing: #F5F5F5;
// #fff1ac
// $bg-landing-goals : #261e2e;
// $bg-landing-goals : #375e95;
$bg-landing-goals : #FDFFF2;
// #FDFFF2
// 375e95
$bg-menu: #111;

//MENU
$main-menu-color:rgb(155, 155, 155);
$menu-num:#797979;
$menu-hr:#383838;

//SECTIONS
$small-header-color: #b3b3b3;

//CANVAS - UTILS
$arc-color1: #233142;
$arc-color2: #261e2e;

.color-grey{
    color: $light-grey;
}
.color-blue{
    color: $light-blue;
}
.color-white{
    color: $white;
}
.color-black{
        color: #000;
}
.color-green-header{
    color: #000;
}

:export {
  bgLanding: $bg-landing;
  bgLandingGoals: $bg-landing-goals;

  arcColor1 : $arc-color1;
  arcColor2 : $arc-color2;
}