.bg-section-01{
    background-color: #F5F5F5!important;
}
.bg-section-02{
    background-color: red!important;
}
.bg-section-03{
    background-color: yellowgreen!important;
}
.bg-section-04{
    background-color: blue!important;
}
.bg-section-05{
    background-color: brown!important;
}


//FONT COLORS
$white: #F5F5F5;
$main-grey: #1A1A1A;
$dark-grey: #282828;
$light-grey:#b9b9b9;
$deep-blue: #1D26F2;
$light-blue: #00ffdc;
$green0: #416767;
$orange: #824747;
$pinkish: #824747;
// $orange: #c58400;
$green-header: #00d2b5;
$dark-blue: #0f1039;


//BACKGROUND COLORS
$bg-landing: #F5F5F5;
$bg-landing-goals : #FDFFF2;
$bg-menu: #111;



//MENU
$main-menu-color:white;
$menu-num:#797979;
$menu-hr:#383838;

//SECTIONS
$small-header-color: #b3b3b3;

//CANVAS - UTILS
$arc-color1: #233142;
$arc-color2: #261e2e;

.color-grey{
    color: grey;
}
.color-blue{
    color: $light-blue;
}
.color-white{
    color: $white;
}
.color-black{
        color: #444444;
}
.color-green-header{
    color: white;
}

:export {
  bgLanding: $bg-landing;
  bgLandingGoals: $bg-landing-goals;

  arcColor1 : $arc-color1;
  arcColor2 : $arc-color2;
}