.section-4{
    height: 100vh;
    h3{
        color:#F5F5F5;
        font-size: 5rem;
        font-weight: bold;
}

.contact__wrapper{
    width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between ;
        h4{
            font-family: 'Josefin Sans';
            font-size:2rem;
            margin:40px 0 20px 0;
        }
        p{
            color: #F5F5F5;
            font-size:1.3rem;
        }
        &-contact, &-news{
            margin-top:20px;
            flex-basis: 50%;
        }
        &-news{
            ul{
                list-style: none;
                display: flex;
                justify-content: flex-end;
                width:100%;
                flex-wrap: wrap;
                margin:0;padding:0;
                margin-right: -15px;
                li{
                    width:35%;
                    background: #483046;
                    margin: 10px 0 10px 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    // box-shadow: #d69003 -30px 0px 30px;
                    height:90px;
                    padding:25px;
                    font-family: 'Alegreya';
                    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                    &:hover{
                        cursor: pointer;
                        box-shadow:none;
                        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                    .date{
                        font-family: 'Josefin Sans';
                        margin-bottom:10px;
                    }
                }
            }
        }
        &-contact-title{
            display: flex;
            justify-content: space-between;
            width:80%;

        }
        &-contact-form{
            font-size: 1.5rem;
            display: flex;
            flex-direction: column;
            font-family: 'Josefin Sans';
            margin-top:50px;
            .form-field{
                min-height:100px;
                // border: 1px solid red;
                display: flex;
                flex-direction: column;
                label{
                    margin-bottom:10px;
                    font-family: 'Josefin Sans';
                    
                }
                input, textarea{
                    font-size:1.7rem;
                    color:white;
                    font-family: 'Alegreya';
                    font-weight: 100;
                    font-size:1.3rem;
                }
                input{
                    border:none;
                    background: transparent;
                    border-bottom:1px solid black;
                    min-height:40px;
                    margin:15px 0;
                    font-weight: 100;
                }
                input::placeholder, textarea::placeholder{
                    color: #664c64;
                    font-size: 1.3rem;
                    font-family: 'Josefin Sans';
                    font-weight: 100;
                }
                textarea{
                    border:none;
                    background: transparent;
                    border-bottom:1px solid black;
                    height:100%;
                    flex-grow: 1;

                }
            }
                button{
                    font-family: 'Josefin Sans';
                    width:200px;
                    min-height:60px;
                    font-size:1.4rem;
                    margin-top:30px;
                    background: transparent;
                    border: none;
                    color:$white;
                    // box-shadow: #d69003 -30px 0px 30px;
                    background: #483046;
                    &:hover{
                        cursor: pointer;
                        box-shadow:none;
                        transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
                    }
                }
        }
    }
 }
 