//VARIABLES
$SansSerif : 'Catamaran', sans-serif;

// $content-width: 1230px;
$container-width: 1024px;


//MEDIA QUERIES
$xl: 1540px;
$largest-desktop: 1440px;
$large: 1140px;


//LAYOUT
svg{
    width:45px;
    @media (max-width: $largest-desktop) {
        width:35px;
       }
}
.back-arrow{
    svg{
        width:30px;
        transform: rotate(90deg);
        fill: black;
        line{
            stroke: black;
        }
    }
}
html,body{
    height:100%;
    margin:0;
    padding:0;
    background-color: transparent;
    overscroll-behavior: none;
    font-size: 16px;
    @media (max-width: $largest-desktop) {
        font-size: 14px;
       }
}

body{
    font-family: 'Alegreya', serif;
    margin:0;
    // background-color: black;
}

.body-overflow{
    overflow:hidden;
}

.root-wrapper{
    background: url('../img/bg/bg-pat-1.png') top left repeat;
    
}
.loading{
    background-color: black;
}
.section-2, .section-3, .section-4, .section-5, .section-6{
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding: 80px 0 100px 0;
}
.section-2{
    background: url('../img/bg/bg-pat-2.png') top left repeat;
    box-shadow: 2px -7px 14px -10px rgba(0,0,0,1);
    padding: 80px 0 130px 0;
    .chapter-announcement {
        // margin:0;
            div{
                background: url('../img/bg/bg-pat-2.png') top left repeat;
            }
        }
}
.section-3{
    background: url('../img/bg/bg-pat-2.png') top left repeat;
    box-shadow: 2px -7px 14px -10px rgba(0,0,0,1);
    padding: 80px 0 130px 0;
    margin-top: -80px;
    .chapter-announcement div{
        background: url('../img/bg/bg-pat-2.png') top left repeat;
    }
   
}
.section-4{
    background: url('../img/bg/bg-pat-3.png') top left repeat;
    box-shadow: 2px -7px 14px -10px rgba(0,0,0,1);
    padding: 80px 0 130px 0;
    margin-top: -80px;
    .chapter-announcement {
            div{
                background: url('../img/bg/bg-pat-3.png') top left repeat;
            }
        }
}
.section-5{
    background: url('../img/bg/bg-pat-1.png') top left repeat;
    box-shadow: 2px -7px 14px -10px rgba(0,0,0,1);
    height: 100vh;
    margin-top: -80px;
    .chapter-announcement {
    margin:0;
        div{
            background: url('../img/bg/bg-pat-2.png') top left repeat;
        }
    }
}
.section-6{
    margin-top: 0px;
    background: url('../img/bg/bg-pat-2.png') top left repeat;
    box-shadow: 2px -7px 14px -10px rgba(0,0,0,1);
}





.section__wrapper{
    padding: 0 50px;
    height: 100%;
    max-width: $largest-desktop;
    margin: 0 auto;
    @media (max-width: $largest-desktop) {
        max-width: $container-width;
       }
    h3{
        font-size:30px;
        // color: #000;
        font-family : $SansSerif;
        font-size:5rem;
        letter-spacing: 6px;
        margin:0;
        margin-bottom: 20px;
        font-weight: bold;
        text-transform: uppercase;
        position: relative;
        z-index:10;
        @media (max-width: $largest-desktop) {
            font-size:3.7rem;
           }
    }
    h4{
        margin:10px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    h1,h2,h3,h4{
        position: relative;
        z-index: 10;
    }

    h2{
        @media (max-width: $largest-desktop) {
            font-size:1.2rem;
           }
    }
}

.title-row{
    display: flex;
    justify-content: space-between;
    a span{
        display: inline;
    }
}

@font-face {
    font-family: "core-sans-g-55-medium";
    src: url('../fonts/CoreSansG-Medium.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "core-sans-g-55-light";
    src: url('../fonts/CoreSansG-ExtraLight.ttf');
    font-weight: normal;
    font-style: normal;
}



h1{
    // font-family: 'Josefin Sans', sans-serif;
    font-family: "core-sans-g-55-medium";
}
h2{
    font-family: "core-sans-g-55-light";
}
.h2-bold{
    font-size: 50px;
    font-weight: 600;
}
.centered{
    text-align: center;
}

.sm-padding-lr{
    padding:0 10px;
}
.margin-top{
    margin-top: 65px;
}

//BUTTONS
button{
    border:none;
    background:none;
    &:hover{
        cursor: pointer;
    }
}

//ANIMATIONS && TRANSITIONS
.btn-svg{
    animation-timing-function: ease-in;
   transform: scale(1);
   animation-iteration-count: 2;
}

a{
    transition: all .6s ease;
    // color:white;
    text-decoration: none;
    span{
        position: relative;
        display: block;
        // line-height: 5.3rem;
        font-weight: bold;
        &::before{
            position: absolute;
            top: 0;
            left: 0;
            overflow: hidden;
            // padding: 10px 0;
            max-width: 0;
            // border-bottom: 2px solid #fff;
            color:#00fff5;
            content: attr(data-hover);
            -webkit-transition: max-width 0.6s;
            -moz-transition: max-width 0.6s;
            transition: max-width 0.6s;
        }
    }
}
a:hover{
    cursor: pointer;
    transition: all .6s ease;
    span{
        transition: max-width 0.6s;
        &::before{
            max-width: 100%;
        }
    }

}

.loading{
    height: 100vh;
    overflow: hidden;
    background: black;
    z-index:99;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-family: 'Josefin Sans';
        font-size:10rem;
        font-weight: bold;
    }
    .bar {
        position: relative;
        height: 2px;
        width: 500px;
        margin: 0 auto;
        background: #fff;
        margin-top: 150px;
      }
      
      .circle {
        position: absolute;
        top: 20%;
        margin-left: -30px;
        height: 60px;
        width: 60px;
        left: 0;
        background: #fff;
        border-radius: 30%;
        animation-iteration-count: 1;
      }
      
      p {
        position: absolute;
        top: 10%;
        right: auto;left:auto;
        text-transform: uppercase;
        color:black;
        // border: 1px solid red;
        // font-family: helvetica, sans-serif;
        font-weight: bold;
      }
      
}

.chapter-announcement{
    display: flex;
    justify-content: center;
    margin: 100px 0 10px 0;
    span{
        width: 300px;
        display: flex;
        justify-content: space-between;
    }
     div{
        box-shadow: 0px 0px 10px -2px black;
        // background: url('../img/bg/bg-pat-3.png') top left repeat;
        width: 30px;
        height: 30px;
        border-radius: 50%;
     }
}

.thanks{
    margin:100px auto 0 auto;
    text-align: center;
}