$menu-width: 100vw;
$menu-height: 160px;
// $max-content: 1230px;


.menu-gap{
    padding-top: $menu-height;
}
.loading-menu{
    top: -120px!important;
    transition: all 1s ease;
}
.menu{
    // transition: all .3s ease-in;
    position: fixed;
    top:0;
    width:$menu-width;
    background: $bg-landing;
    z-index:99;
    color:$main-menu-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Josefin Sans', serif;
    font-weight: lighter;
    &__main, &__side{
        // border: 1px solid red;
        width:100%;
        height:50px;
        padding-bottom:15px;
        position: relative;
        @media (max-width: $largest-desktop) {
            height: 45px;
            padding-bottom:10px;
           }
        &-wrapper{
            // border: 3px solid white;
            width: $largest-desktop;
            @media (max-width: $largest-desktop) {
                width: $container-width;
               }
            margin: 0 auto;
        }
        &:hover{
            cursor: pointer;
        }
    }
    &__main{
        // border-bottom:1px solid $bg-menu;
    }
    ul{
        height: 100%;
        list-style: none;
        display: flex;
        align-items: flex-end;
        @media (max-width: $largest-desktop) {
            justify-content: space-between;
           }
       
        // margin:0;
        padding:0;
        // padding-bottom: 12px;
        li{
            flex-basis: 25%;
            position: relative;
            font-size:1.20rem;
            text-align: center;
            font-weight: 400;
            @media (max-width: $largest-desktop) {
                font-size:1.10rem;
                flex-basis: 0;
                white-space: nowrap;
                &:first-child{
                    a{
                        margin:0;
                    }
                }
                &:last-child{
                    a{
                        margin:0;
                        white-space: nowrap;
                    }
                }
               }
            a{
                z-index:2;
                position: relative;
                color:black;
                text-decoration: none;
                margin: 0 20px;
     
                span{
                    transition:all .3s cubic-bezier(.65,.01,.5,.76);
                    position: absolute;
                    left:0;
                    bottom:85%;
                    color: $menu-hr;
                    font-size:1.00rem;
                    z-index:-1;
                    line-height: 30px;
                    font-weight: lighter;
                    @media (max-width: $largest-desktop) {
                        font-size: .9rem;
                       }
                 
                }
                &:hover{
                    color:#ff5722;
                    cursor: pointer;
                    transform: scale(1.15); 
                    // font-weight: 500;
                    span{
                        transform: scale(3.2); 
                        left:45%;
                        bottom:5px;
                        color: #ffd0d0;
                        @media (max-width: $largest-desktop) {
                            bottom: 1px;
                           }
                        }
                }
            }
        }
    }

}

.second-menu-bg{
    background: white;
    ul li a{
        color:#313131;
        &:hover{
            color:black;
            span{
                color:#dbdbdb;
            }
        }
    }
}