#news{
    padding-top: 250px;
}
.news{
    .title-row{
        font-size:3rem;
        font-family: $colfaxBlack;
        color: white;
        margin-top: 120px;
        h3{
            margin:0 auto;
        }
        span{
            color: black;
        }
    }
}

.slick__custom{
    width: 1140px;
    // border: 1px solid red;
    // padding-bottom: 50px;
    .slider__custom-inner{
        // border: 1px solid greenyellow;
        height: 96%;
        // width: 98%!important;
        margin: 0 auto;
        color: white;
        display: flex!important;
        flex-direction: column;
        align-items: center;
        // border-left: 1px solid white;
        // border-left: none;

        position: relative;
        &-content{
            position: relative;
            z-index:2;
            display: flex!important;
            flex-direction: column;
            align-items: center;
            .date{
                margin-top: 50px;
                font-size: 1.2rem;
                font-family: $coreSansLIght;
            }
            .title{
                margin: 20px 0 30px 0;
                font-family: $colfaxBlack;
                font-size: 2rem;
                width: 60%;
                padding: 10px 0;
                border:1px solid #824747;
                border-right: none;
                border-left: none;
            }
        }
        .read{
            color: white;
            position: relative;
            z-index: 2;
            border: 3px solid white;
            padding: 6px 3px 3px 3px;
            font-size: 1.3rem;
            display: flex;
            justify-content: center;
            width: 130px;
            margin-top:auto;
            // margin-bottom: 30px;
            text-transform: uppercase;
            font-family: $colfaxBlack;
            &:hover{
                color: black;
                border: 3px solid black;
            }
        }
        &::before, &::after{
            content:'';
            position: absolute;
            left: 0;
            width: 30%;
            opacity: .5;
        }
        &::before{
            border-top: 5px solid white;
                top:0;
            }
            &::after{
                // left:0;
                height: 30%;
                border-left: 5px solid white;
            }
    }
}