
//SWIPER - CONF

.customized-swiper-container{
    .swiper-button-prev{
        background-image: url('https://image.flaticon.com/icons/svg/126/126492.svg');  
        width: 25px;
        height: 50px;
        background-size: 35px 44px;  
    }
    .swiper-button-next{
        background-image: url('https://image.flaticon.com/icons/svg/126/126490.svg');  
        width: 25px;
        height: 50px;
        background-size: 35px 44px;
    }
    .swiper-pagination{
        bottom: -12px!important;
        font-size:  30px;
    }
    .swiper-pagination-current , .swiper-pagination-total{
        margin-top: 30px;
        font-size:  30px;
        font-family: "Catamaran";
    }
    
    
    height: 500px;
    width: 1100px;
    padding: 40px 45px;
    // border: 5px dotted white!important;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    .swiper-wrapper{
        // width:auto!important;
        // justify-content: center;
    }
    .swiper-slide{
        // display: block;
        border: 10px solid black;
        box-sizing: border-box;
        display: flex;
        // justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-family: $SansSerif;
        p{
            text-align: center;
        }
        img{
            width: 90%;
        }
        .news__box-date{
            border-bottom: 1px solid gray;
            color: gray;
            margin: 20px 0;
        }
        .news__box-title{
            font-size: 1.2rem;
            margin-bottom: 20px;
            padding: 0 20px;
            text-align: center;
        }
        .news__box-content{
            font-size: 1rem;
            color: #d3d3d3;
            height: 80px;
            overflow: hidden;
            padding: 20px;
        }
        .news__box-read{
            color: white;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            svg{
                transform: rotate(-90deg);
                width: 15px;
            }
        }
        &:hover{
            border: 10px solid gray;
        }
    }
    .swiper-pagination{
        // border: 1px solid red;
    }
}
