#news{
    padding-top: 250px;
}
.news{
    .title-row{
        font-size:3rem;
        font-family: $colfaxBlack;
        color: white;
        margin-top: 120px;
        h3{
            margin:0 auto;
        }
        span{
            color: black;
        }
    }
}

.slick__custom{
    width: 1140px;
    // border: 1px solid red;
    // padding-bottom: 50px;
    .slider__custom-inner{
        // border: 1px solid greenyellow;
        height: 96%;
        // width: 98%!important;
        margin: 0 auto;
        color: white;
        display: flex!important;
        flex-direction: column;
        align-items: center;
        // border-left: 1px solid white;
        // border-left: none;

        position: relative;
        &-content{
            position: relative;
            z-index:2;
            display: flex!important;
            flex-direction: column;
            align-items: center;
            .date{
                margin-top: 50px;
                font-size: 1.2rem;
                font-family: $coreSansLIght;
            }
            .title{
                margin: 20px 0 30px 0;
                font-family: $colfaxBlack;
                font-size: 2rem;
                width: 60%;
                padding: 10px 0;
                border:1px solid #824747;
                border-right: none;
                border-left: none;
            }
        }
        .read{
            color: white;
            position: relative;
            z-index: 2;
            border: 3px solid white;
            padding: 3px;
            font-size: 1.3rem;
            width: 130px;
            margin-top:auto;
            // margin-bottom: 30px;
            text-transform: uppercase;
            font-family: $colfaxBlack;
        }
        &::before, &::after{
            content:'';
            position: absolute;
            left: 0;
            width: 30%;
            opacity: .5;
        }
        &::before{
            border-top: 5px solid white;
                top:0;
            }
            &::after{
                // left:0;
                height: 30%;
                border-left: 5px solid white;
            }
    }
}


//SWIPER - CONF

.customized-swiper-container{
    .swiper-button-prev{
        background-image: url('https://image.flaticon.com/icons/svg/126/126492.svg');  
        width: 25px;
        height: 50px;
        background-size: 35px 44px;  
    }
    .swiper-button-next{
        background-image: url('https://image.flaticon.com/icons/svg/126/126490.svg');  
        width: 25px;
        height: 50px;
        background-size: 35px 44px;
    }
    .swiper-pagination{
        // bottom: -12px!important;
        font-size:  25px;
        color: white;
        text-align: right!important;
    }
    .swiper-pagination-current , .swiper-pagination-total{
        margin-top: 30px;
        font-size:  25px;
        // font-family: "Catamaran";
    }
    
    
    height: 550px;
    width: 1100px;
    padding: 40px 45px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    .swiper-slide{
        height: 93%;
        border: 10px solid black;
        background: #0a0056;
        box-sizing: border-box;
        display: flex;
        background: black;
        opacity: .8;
        align-items: center;
        flex-direction: column;
        color: white;
        p{
            text-align: center;
        }
        img{
            width: 90%;
        }
        .news__box-date{
            border-bottom: 1px solid gray;
            color: gray;
            margin: 20px 0;
        }
        .news__box-title{
            font-size: 1.1rem;
            margin-bottom: 20px;
            padding: 0 20px;
            text-align: center;
        }
        .news__box-content{
            font-size: 1rem;
            color: #d3d3d3;
            height: 80px;
            overflow: hidden;
            padding: 20px;
        }
        .news__box-read{
            color: white;
            margin-top: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            svg{
                transform: rotate(-90deg);
                width: 15px;
            }
        }
        &:hover{
            border: 10px solid whitesmoke;
        }
    }
}