.resources__section{
    background: url('../img/bg/bg-pat0.png') top left repeat;
    min-height: 100vh;
}
.publication-page, .news-page{
    background: url('../img/bg/bg-pat0.png') top left repeat;
    // margin-top: $menu-height;
    padding-top: 100px;
    min-height: 100vh;
    .goback{
        text-align: center;
        display: block;
        margin: 0 auto 20px auto;
    }
    .section__wrapper{
        margin-top:30px;
        &-content{
            max-width: 800px;
            margin: 0 auto;
            &-post{
                padding: 0 50px;
                font-size: 1.1rem;

                .links{
                    margin-top: 30px;
                    padding: 30px 0;
                    border-top:1px solid lightgray;
                    display: flex;
                    justify-content: space-between;
                    max-width: 600px;
                    a{
                        border: 1px solid black;
                        height: 26px;
                        padding: 0 7px;
                        border-radius: 7px;
                        // font-family: $SansSerif;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: black;
                        &:hover{
                            background: black;
                            color: white;
                        }
                    }
                }
            }
        }
    }
    h1.title, h2.title{
        font-size: 2.3rem;
        // max-width:800px;
        margin:0 auto;
        line-height: 3rem;
        border-bottom:1px solid lightgrey;
        border-top: 1px solid lightgrey;
        padding:30px 0;
    }
    h2{
        color:black;
        padding:15px 0;
        margin:0;
    }
    h2.title{
        // max-width:600px;
        font-size: 1.2rem;
        color:gray;
        font-weight: lighter;
        border: none;
        line-height: 2rem;
    }
    h4.date{

        text-align: center;
        display: block;
        font-weight: lighter;
    }
    .content{
        // max-width:800px;
        font-size: 1.1rem;
    }
}

.news-page{
    padding-bottom: 100px;
    .section__wrapper-content-post{
        margin: 50px 0;
        color: white;
        line-height:1.6rem;
        &-images{
            .news-image{
                margin-bottom: 30px;
            }
            margin-top: 30px;
            span{
                background: black;
                padding: 10px 0px 10px 10px;
                color: white;
                display: block;
            }
            img{
                display: block;

            }
        }
    }
    h1.title{
        color: white;
        font-size: 3rem;
        line-height: 3.5rem;
    }
}