.section-4{
    height: 100vh;
    background: url('https://i.ibb.co/ZJzw8Jj/bg-pat.png') top left repeat;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    padding: 80px 0 100px 0;
.section-4__wrapper{
    max-width: 100%;
    padding: 0 50px;
    overflow: scroll;
}
}
.publications{

    h3{
        display: flex;
        justify-content: center;
        align-items: center;
        margin:0;
        font-weight: 900;
        font-size: 3rem;
    }
    a{
        color: white;
    }
    a.readmore{
        color: #ef4747;
        font-family: $SansSerif;
        font-weight: 500;
    }
    position: relative;
    button{
        transition: all .3s ease-in;
        font-family: $SansSerif;
        color: white;
    }
    
    &-title{
        width: $largest-desktop;
        @media (max-width: $largest-desktop) {
            width:auto;
           }
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-yearsort{
            // border: 1px solid red;
            display: flex;
            align-items: center;
            button{
                height:100%;
                font-size:1.3rem;
                &:hover{
                    color: #522cff;
                    transition: color .3s ease-in;
                }
            }
            span{
                margin: 0 7px;
            }
        }
        .active{
            button{
                color: #ff0e0e;
            }
        }
        a{
            color:white;
            span{
                display: inline;
                line-height: 3.3rem;
                @media (max-width: $largest-desktop) {
                    line-height: 1.4rem;
                   }
            }
            &:hover{
                color:#ef4747;
            }
        }

        h4{
            font-family: $SansSerif;
            font-size:2rem;
            margin: 0;
            margin-top:30px;
            font-weight: 100;
            @media (max-width: $largest-desktop) {
                font-size:1.4rem;
               }
        }
    }
    .title-bottom{
        margin-top:60px;
        a:hover{
            color:white;
        }
    }
    .space-between-removed{
        // justify-content: left;
        justify-content: center;
    }
    color:white;
    &__wrapper{
        margin:80px auto 0px auto;
        overflow: auto;
        // overflow-x: visible;
        height: 50%;
    // border-radius: 20px;
    padding: 45px;
        &::-webkit-scrollbar {
            -webkit-appearance: none;
        }
        
        &::-webkit-scrollbar:vertical {
            width: 11px;
        }
        
        &::-webkit-scrollbar:horizontal {
            height: 11px;
        }
        
        &::-webkit-scrollbar-thumb {
            border-radius: 8px;
            // border: 2px solid white; /* should match background, can't be transparent */
            background-color: rgba(0, 0, 0, .5);
        }
        &-box{
            position: relative;
            z-index: 10;
            display: flex;
            align-items: center;
            border-bottom: 1px solid black;
            min-height:120px;
            font-family: $SansSerif;
            font-weight: 100;
            justify-content: space-between;
            width: 98%;

            a.btn, .popup-btn{
                text-transform: uppercase;
                color:white;
                margin: 5px auto;
                height: 26px;
                
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                border-radius: 7px;
                font-size:.8rem;
                font-weight:500;
                &:hover{
                    border: 1px solid #00d2b5;
                    color: #00d2b5;
                }
            }
            .popup-btn{
                font-size:.8rem;
            }
            &-year{
                font-size:2rem;
                flex-basis: 7%;
                color: #eeeeee;
                font-weight: 300;
                @media (max-width: $largest-desktop) {
                    font-size:2.2rem;
                   }
            }
            &-title{
                font-family: 'Alegreya';
                color:white;
                text-decoration: none;
                font-size:1.2rem;
                flex-basis: 37%;
                @media (max-width: $largest-desktop) {
                    font-size: 1.1rem;
                   }
                   &:hover{
                       color: black;
                   }
                
            }
            &-author{
                font-size:1.1rem;
                max-width:400px;
                flex-basis: 25%;
                line-height: 1.5rem;
                @media (max-width: $largest-desktop) {
                    font-size:1rem;
                   }
            }
            &-read{
                flex-basis: 23%;
                height:120px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                button,a{
                    width: 45%;
                }
            }
        }
    }

    &__popup{
        z-index: 50;
        border-radius: 7px;
        position: absolute;
        width: 400px;  
        height: 300px;  
        top: 0;  
        left: 0;  
        right: 0;  
        bottom: 0;  
        margin: auto;  
        background:white;
        // border: 15px solid rgba(0,0,0, 0.5);
        
        &-inner{
            height: 100%;
            color:black;
            // padding:30px;
            &-close{
                display: flex;
                justify-content: flex-start;
                cursor: pointer;
                border-bottom: 1px solid lightgray;
                padding:20px;
                svg{
                    fill: black;
                    width: 20px;
                }
                &:hover{
                    svg{
                        fill: #00d2b5;
                    }
                }
            }
            &-content{
                padding: 20px;
            }
        }
    }
}
#duperel3{
    position: absolute;
    left: 0;
    top: -70px;
    svg{
        width: 100%;
    }
}

//popup


