

.slick-slider{
    /* border: 1px solid red; */
    width: 90%;
    height: 450px;
    margin: 0 auto;
    /* margin-top: 300px; */
}
.slick-list, .slick-track{
    height: 100%;
}
.slick-slide > div{
    height: 100%;
}

.slik-next, .slik-prev{
    /* background-image: url(https://image.flaticon.com/icons/svg/126/126492.svg)!important; */
    width: 25px;
    height: 50px;
    background-size: 35px 44px;
    position: absolute;
    top: 50%;
}
.slik-next{
    right: -55px;
    /* transform: rotate(180deg); */
}
.slik-prev{
    left: -100px;
}