.section-3{
    min-height: 100%;
    padding:50px 0;
    .title-row{
        height: 150px;
    }
    @media (max-width: $largest-desktop) {
        padding:100px 0;
       }
    h3{
        color:black;
        // color: #ff5722;
        font-weight: bold;
}
}
#team{
    height: 100%;
    margin-bottom:150px;
}
.team{
    &__content{
        display: flex;
        flex-wrap: wrap;
        &-imgcont{
            position: relative;
            width:25%;
            span{
                position: absolute;
                bottom:50px;
                font-family: 'Josefin Sans';
                text-transform: uppercase;font-size: 1.1rem;
                font-weight: 500;
                color: white;
                opacity:1;
                background: black;
                padding: 5px;
                line-height: 2rem;
                opacity:0;
            }
            img{
                width:100%;
                height: auto;
                display: block;
                &:hover{
                    cursor: pointer;
                }
            }
            &:hover{
                opacity:0.5;
                span{
                    opacity: 1;
                }
            }
        }
    }
}