.teammember__section{
    background: url('../img/bg/bg-pat0.png') top left repeat;
}
.team-member{
    margin:auto auto 0 auto;
    padding-top: $menu-height;
    display: flex;
    div img{
        max-width: 500px;
        height: auto;
    }
    .image__column{
        background: url('../img/bg/bg-pat0.png') top left repeat;
        height: 100vh;
        width: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            position: fixed;
        }
    }
    .text__content{
        width:50%;
        margin-left: 100px;
        display: flex;
        flex-direction: column;
        color: white;
        line-height: 1.6rem;
        // align-items: center;
        justify-content: center;

        &-title{
            font-size: 2rem;
        }
        &-content{
            font-size: 1.1rem;
        }
        &-ico{
            display: flex;
            align-items: center;
            height: 50px;
            img{
                width: 35px;
            }
            span{
                text-transform: uppercase;
                letter-spacing: .2rem;
                color: black;
                margin-left: 20px;
                // font-family: $SansSerif;
            }
        }
    }
}